In [2]:
from scipy import stats
import pandas as pd
import numpy as np
from scipy.stats import t
from scipy.stats import norm
from math import sqrt

가설:H0:모기의 흡혈시간 모평균!=180초.

     H1:모기의 흡혈시간 모평균=180초
     
기초통계량:n=5,표본평균=284.2,표준편차= 89.58602

검정통계량과 H0하에서의 분포:T= ~T(4)

검정통계량값:t=(284.2-180)/(89.58602/2.236)=2.6008

pvalue:0.059996

결론:pvalue=0.059996 >유의수준 0.05이므로 H0을 기각하지 않는다.
모기의흡혈시간은 180초가 아니다.

In [3]:
df=pd.DataFrame([176.0,202.9,315.0,374.6,352.5])

In [4]:
dd=df.describe().T
dd[['mean','std']]

    mean       std
0  284.2  89.58602

In [5]:
stats.ttest_1samp([176.0,202.9,315.0,374.6,352.5],180)

Ttest_1sampResult(statistic=2.60083306476879, pvalue=0.05999551309669599)

가설:H0: 모평균μ>=19(평균 19시간보다 길게 잔다.)

     H1: 모평균μ< 19(평균 19시간보다 짧게 잔다.)
     
기초통계량:n=6,표본평균=17.416667,표준편차= 1.679782

검정통계량과 H0하에서의 분포:T= ~T(5)

검정통계량값:t=(17.41666-19)/(1.679782/2.449)=-2.3088
    
pvalue:0.0345(단측 검정시)
    
결론:pvalue=0.0345 <유의수준 0.05이므로 H0을 기각한다.
    
아마딜로는 평균 19시간보다 짧게 잔다.

95%신뢰구간:(16.2887,18.5447)

In [6]:
df2=pd.DataFrame([17.4,18.5,20,16.1,15.3,17.2])
dd2=df2.describe().T
dd2[['mean','std']]

        mean       std
0  17.416667  1.679782

In [7]:
stats.ttest_1samp([17.4,18.5,20,16.1,15.3,17.2],19)

Ttest_1sampResult(statistic=-2.3088468494824483, pvalue=0.06900644482742595)

In [8]:
#신뢰구간
print(17.416667-norm.ppf(0.95,0,1)*(1.679782/sqrt(6)),
      17.416667+norm.ppf(0.95,0,1)*(1.679782/sqrt(6)))

16.28867880436526 18.54465519563474

가설:H0: 모평균μ=0.618

     H1: 모평균μ!= 0.618
     
기초통계량:n=20,표본평균= 0.6605,표준편차= 0.092511

검정통계량과 H0하에서의 분포:T= ~T(19)

검정통계량값:t=(0.6605-0.618)/(0.092511/4.472)=2.0545234833761556

pvalue:0.05394(양측 검정시)

결론:pvalue=0.05394 >유의수준 0.05이므로 H0을 기각하지 않는다.

인디언의 옛날 사각형 모형의 수공품도 황금비율을 따른다.

95%신뢰구간:(0.6264744123581945, 0.6945255876418055)

In [9]:
df3=pd.DataFrame([0.693, 0.628, 0.576, 0.662, 0.609, 0.670, 0.690, 0.844, 0.606,
                 0.606, 0.654, 0.611, 0.570 ,0.615, 0.553, 0.749 ,0.668,
                 0.933, 0.672, 0.601])
dd3=df3.describe().T
dd3[['mean','std']]

     mean       std
0  0.6605  0.092511

In [10]:
stats.ttest_1samp([0.693, 0.628, 0.576, 0.662, 0.609, 0.670, 0.690, 0.844, 0.606,
                 0.606, 0.654, 0.611, 0.570 ,0.615, 0.553, 0.749 ,0.668,
                 0.933, 0.672, 0.601],0.618)

Ttest_1sampResult(statistic=2.0545234833761556, pvalue=0.05394132733308773)

In [11]:
#신뢰구간
print(0.6605-norm.ppf(0.95,0,1)*(0.092511/sqrt(20)),
      0.6605+norm.ppf(0.95,0,1)*(0.092511/sqrt(20)))

0.6264744123581945 0.6945255876418055

가설:H0: 모평균μ=0.8(정상인과 다름없다.)

     H1: 모평균μ< 0.8(정상인보다 약화되었다.)
     
기초통계량:n=19,표본평균= 0.766316,표준편차= 0.085908

검정통계량과 H0하에서의 분포:T= ~T(18)

검정통계량값:t=(0.766316-0.8)/(0.085908/4.359)=-1.7091
    
pvalue:0.0523(단측 검정시)
    
결론:pvalue=0.0523 >유의수준 0.05이므로 H0을 기각하지 않는다.
    
정상인과 다름없다.

In [12]:
df4=pd.DataFrame([0.61, 0.70, 0.63, 0.76 ,0.67, 0.72 ,0.64 ,0.82, 
0.88 ,0.82, 0.78 ,0.84 ,0.83, 0.82 ,0.74 ,0.85 ,0.73, 0.85 ,0.87])
dd4=df4.describe().T
dd4[['mean','std']]

       mean       std
0  0.766316  0.085908

In [13]:
stats.ttest_1samp([0.61, 0.70, 0.63, 0.76 ,0.67, 0.72 ,0.64 ,0.82, 
0.88 ,0.82, 0.78 ,0.84 ,0.83, 0.82 ,0.74 ,0.85 ,0.73, 0.85 ,0.87],0.8)

Ttest_1sampResult(statistic=-1.7091160447777254, pvalue=0.10461391019983837)

In [14]:
df=pd.DataFrame([0.61, 0.70, 0.63, 0.76 ,0.67, 0.72 ,0.64 ,0.82, 
0.88 ,0.82, 0.78 ,0.84 ,0.83, 0.82 ,0.74 ,0.85 ,0.73, 0.85 ,0.87])
df.mean()

0    0.766316
dtype: float64

# 일표본 모비율 z검정

가설:H0: 모평균μ=0.456(예전과 같다.)

     H1: 모평균μ!=0.456(변화 있다.)
     '
기초통계량:n=2536,모비율평균= 0.4491,모비율표준편차= 0.009877

검정통계량과 H0하에서의 분포:Z= 

검정통계량값:Z=(0.4491-0.456)/(0.0098)=-0.704
    
pvalue:0.4979(양측 검정시)
    
결론:pvalue=0.4979 >유의수준 0.05이므로 H0을 기각하지 않는다..
    
대통령 국정수행지지율은 이번조사에서 변화가 없다..

In [15]:
stats.binom_test(x=1139,n=2536,p=0.456,alternative='two-sided')

0.4979197478238493

# 일표본 t검정

가설:H0: μ=518(학생들의 평균성적이 한국평균과 같다.)
     H1: μ!=518(학생들의 평균성적이 한국평균과 같지 않다.)
     
기초통계량:n=100,표본평균=504.766 ,표준편차= 63.271

검정통계량과 H0하에서의 분포:T=  ~T(99)

검정통계량값:T=(504.766-518)/(63.271/10)=-2.092
    
pvalue:0.039(양측 검정시)
    
결론:pvalue=0.039 < 유의수준 0.05이므로 H0을 기각한다.
    
학생들의 평균성적이 한국평균과 같지 않다.

신뢰구간:(494.3588, 515.1732)

In [16]:
DF=pd.read_csv('toefl.csv')
DF['grade']=np.round(((DF['listen']+DF['grammar']+DF['reading'])/3)*10,1)
DF['grade'].describe()

count    100.000000
mean     504.766000
std       63.270919
min      350.000000
25%      462.475000
50%      498.350000
75%      544.150000
max      646.700000
Name: grade, dtype: float64

In [17]:
stats.ttest_1samp(DF['grade'],518)

Ttest_1sampResult(statistic=-2.091640251369215, pvalue=0.03903005193485989)

In [18]:
#신뢰구간
print(504.766-norm.ppf(0.95,0,1)*(63.271/sqrt(100)),
      504.766+norm.ppf(0.95,0,1)*(63.271/sqrt(100)))

494.35884661691534 515.1731533830847

가설:H0: μ=530(남학생들의 평균성적이 세계평균과 같다.)
     H1: μ!=530(남학생들의 평균성적이 세계평균과 같지 않다.)
     
기초통계량: n=41,표본평균=509.998 ,표준편차= 62.5787

검정통계량과 H0하에서의 분포:T=  ~T(40)

검정통계량값:T=(509.998-530)/(62.5787/sqrt(41))=-2.0467
    
pvalue:0.0473(양측 검정시)
    
결론:pvalue=0.0473 <유의수준 0.05이므로 H0을 기각한다.
    
남학생들의 평균성적이 세계평균과 같지 않다.

신뢰구간:(493.9226,526.0734)

In [19]:
DF['grade'].groupby(DF['gender']).describe()

        count        mean        std    min    25%    50%     75%    max
gender
FEMALE   59.0  501.130508  64.027468  350.0  460.0  490.0  538.35  640.0
MALE     41.0  509.997561  62.578712  350.0  466.7  506.7  550.00  646.7

In [20]:
DF2=DF[DF['gender'].isin(['MALE'])]
DF2.head()

    id gender  listen  grammar  reading  grade
2    3   MALE      39       44       47  433.3
4    5   MALE      43       56       53  506.7
5    6   MALE      57       49       53  530.0
10  11   MALE      52       50       58  533.3
11  12   MALE      38       51       50  463.3

In [21]:
DF2['malegrade']=np.round(((DF2['listen']+DF2['grammar']+DF2['reading'])/3)*10,1)
stats.ttest_1samp(DF2['malegrade'],530)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Ttest_1sampResult(statistic=-2.0466720589363137, pvalue=0.047300476144658675)

In [22]:
#신뢰구간
print(509.998-norm.ppf(0.95,0,1)*( 62.5787/sqrt(41)),
      509.998+norm.ppf(0.95,0,1)*( 62.5787/sqrt(41)))

493.92259714225753 526.0734028577425

가설:H0: μ=524(여학생들의 평균성적이 세계평균과 같다.)
     H1: μ!=524(여학생들의 평균성적이 세계평균과 같지 않다.)
     
기초통계량: n=59,표본평균=501.131 ,표준편차= 64.0275

검정통계량과 H0하에서의 분포:T=  ~T(58)

검정통계량값:T=(501.131-524)/(64.0275/sqrt(59))=-2.7436
    
pvalue:0.008(양측 검정시)
    
결론:pvalue=0.008 <유의수준 0.05이므로 H0을 기각한다.
    
여학생들의 평균성적이 세계평균과 같지 않다

신뢰구간:(487.42, 514.842)

In [23]:
DF3=DF[DF['gender'].isin(['FEMALE'])]
DF3.head()

   id  gender  listen  grammar  reading  grade
0   1  FEMALE      40       50       56  486.7
1   2  FEMALE      33       44       46  410.0
3   4  FEMALE      44       55       66  550.0
6   7  FEMALE      54       43       56  510.0
7   8  FEMALE      40       50       53  476.7

In [24]:
DF3['femalegrade']=np.round(((DF3['listen']+DF3['grammar']+DF3['reading'])/3)*10,1)
stats.ttest_1samp(DF3['femalegrade'],524)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Ttest_1sampResult(statistic=-2.7435708998459476, pvalue=0.008073254314829163)

In [25]:
#신뢰구간
print(501.131-norm.ppf(0.95,0,1)*( 64.0275/sqrt(59)),
      501.131+norm.ppf(0.95,0,1)*( 64.0275/sqrt(59)))

487.42004214858065 514.8419578514194

# 일표본 모비율 z검정

가설:H0: 모평균μ<=0.4(여학생 비율이 40% 이하이다)
     H1: 모평균μ> 0.4(40%보다 높아졌다)
기초통계량:n=100,모비율평균= 0.59,모비율표준편차= 0.0492

검정통계량과 H0하에서의 분포:Z

검정통계량값:Z=(0.59-0.4)/(0.049)=3.878
    
pvalue:0.00004803(단측 검정시)
    
결론:pvalue=0.00004803 <유의수준 0.05으로 H0을 기각한다
여학생 비율이 40% 이상이다.

In [29]:
stats.binom_test(x=59,n=100,p=0.4,alternative='greater')

9.608207526190542e-05

In [30]:
(9.608207526190542e-05)/2

4.804103763095271e-05